@import "tailwindcss";
@import "flowbite-react/plugin/tailwindcss";
@source "../.flowbite-react/class-list.json";

@custom-variant dark (&:where(.dark, .dark *));

@layer base {
    :root {
        /* Light theme */
        --bg: 252 252 252;
        --fg: 17 24 39;
        --card: 249 250 251;
        --border: 229 231 235;
    }

    .dark {
        /* Dark theme */
        --bg: 30 30 40;
        --fg: 226 232 240;
        --card: 15 23 42;
        --border: 51 65 85;
    }

    body {
        background-color: rgb(var(--bg));
        color: rgb(var(--fg));
    }
}
